.term{

	
	position: relative;
	display: none;
	border: 2px solid #a1a1a1;
	border-radius: 5px;
	border-color: white;
	background: #263238;
	text-align: left;
	height: 350px;
	color: white;
    overflow: hidden;
    box-shadow: 5px 5px 5px #111111;
}
.skip{
   
}
a{

}
.social{
    display:none;
}
.term_body{
	height:100%;
	 overflow-y:auto;
	 overflow-x:hidden;
}
.window_pane{
	height: 20px;
	background-color: #91B9D1; 

}
.light .glow {
    width: 14px;
    height: 8px;
    background-image: -webkit-gradient(radial,center bottom,0,center center,5,from(rgba(255,255,255,0.75)),to(rgba(255,255,255,0)));
    background: 0px 0px -moz-radial-gradient(bottom,cover,rgba(255,255,255,0.70) 0%,rgba(255,255,255,0) 80%);
}
.red {
    background: #f41b16;
    background: -moz-linear-gradient(top,#f41b16 0%,#fc7471 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f41b16),color-stop(100%,#fc7471));
    background: -webkit-linear-gradient(top,#f41b16 0%,#fc7471 100%);
    background: -o-linear-gradient(top,#f41b16 0%,#fc7471 100%);
    background: -ms-linear-gradient(top,#f41b16 0%,#fc7471 100%);
    background: linear-gradient(top,#f41b16 0%,#fc7471 100%);
    margin: 2px 0px;
}
.yellow {
    background: #f4a316;
    background: -moz-linear-gradient(left,#f4a316 0%,#fcc371 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#f4a316),color-stop(100%,#fcc371));
    background: -webkit-linear-gradient(left,#f4a316 0%,#fcc371 100%);
    background: -o-linear-gradient(left,#f4a316 0%,#fcc371 100%);
    background: -ms-linear-gradient(left,#f4a316 0%,#fcc371 100%);
    background: linear-gradient(left,#f4a316 0%,#fcc371 100%);
    margin: 2px 7px;
}
.green {
    background: #4cae2e;
    background: -moz-linear-gradient(top,#4cae2e 0%,#dafc71 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4cae2e),color-stop(100%,#dafc71));
    background: -webkit-linear-gradient(top,#4cae2e 0%,#dafc71 100%);
    background: -o-linear-gradient(top,#4cae2e 0%,#dafc71 100%);
    background: -ms-linear-gradient(top,#4cae2e 0%,#dafc71 100%);
    background: linear-gradient(top,#4cae2e 0%,#dafc71 100%);
    margin: 2px 0px;
}
.light {
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    box-shadow: 0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    overflow: hidden;
}
.light .shine {
    width: 4px;
    height: 3px;
    border-radius: 10px;
    background: -moz-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(center,ellipse cover,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.red .glyph {
    position: relative;
    top: -5px;
    left: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #9b3a36;
    z-index: 50;
    opacity: 0;
}
.red .shine {
    position: relative;
    top: -21px;
    left: 5px;
}
.skip_text{
	display: none;
}

.cursor{
	visibility: inherit;
}
.authentication{
	margin: 4% 0px 0px 0px;
}
body{
	font-family: 'Lato',sans-serif;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}
td{
	background-color: #263238;
	color: #000000;
}

input{
	background: #263238;
	color: #FFEFE2;
	border: none;
	outline: none;
}
@media (min-width: 768px) {
	/*Small*/
	.authentication{
		font-size: 50px;
		margin: 10% 0px 5% 0px;
	}
	.skip_text{
		font-size: 40px;	
	}
	.term{
		border: 6px solid #a1a1a1;
		border-radius: 5px;
		padding: 0 0 2% 0;
		font-size: 44px;
		height: 400px;
	}

}
@media (min-width: 992px) { 
	/*medium*/
	.authentication{
		font-size: 50px;
		
	}
	.term{
		border-radius: 5px;
		font-size: 24px;
	}
}

@media (min-width: 1200px) {
	/*large*/
	.authentication{
		font-size: 30px;
		margin: 3% 0px 1%  0px;
	}
	.skip_text{
		font-size: 22px;
		margin: 2% 0 ;	
	}

	.term{

		padding: 0 0 2% 0;
		border: 2px solid #a1a1a1;
		border-radius: 5px;
		font-size: 27px;
	}

	
}
@media (max-width: 767px) {
	/*extra small*/
	
}
@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
-o-@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
-moz-@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.executable{
	color:#B95300;
}

/* The side navigation menu */
.sidenav {
/*    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #4D7284; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */*/
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #263238;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
li{
    height: 70px;
}
.nav{
    display: none;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    height: 10%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}